@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
        font-family: "Ownglyph_ParkDaHyun", cursive;
        font-weight: 400;
        font-style: normal;
    box-sizing: border-box;
    }


body{
    margin: 0;

}
/* related index page -----------------------------------*/
.index-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.index-header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 20px;
}
.index-header a {
    font-size : 0.85em;
}
.index-header button {
    background-color: #333;
    color: #eee;
    padding : 8px 30px;
    cursor: pointer;
    border-radius: 4px;
    font-size : 0.95em;
}
.index-header button:hover {
    background-color: #eee;
    color: #333;

}
.index-main {
    display: flex;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}


/* related auth page -------------------------------------------------------- */
.auth-header {

    padding : 15px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);
    text-align: center;
}
.auth-main {
    max-width: 400px;
    padding : 0px 15px;
    margin : 70px auto;
    text-align: center;
}
.auth-input-div {
    padding : 10px 0px;
    margin-top : 20px;
    border-bottom: 1px solid rgba(0,0,0,.08);
}
.auth-input {
    width:100%;
    height: 36px;
    border : 0;
    font-size : 1.5em;
}
.auth-input:focus {
    outline: none;
}
.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.album-item {
    width: calc((95%)/3);
    height: 100px;
    margin-bottom: 20px;
    border : 1px solid rgba(0,0,0,.08);
}