@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
        font-family: "Ownglyph_ParkDaHyun", cursive;
        font-weight: 400;
        font-style: normal;
    box-sizing: border-box;
    }


body{
    margin: 0;

}
/* related width */
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}

/* related index page*/
.main {
    display: flex;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}