<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loginLog">
    <insert id="create" parameterType="string">
        insert into login_logs (user_id, login_at) values( #{userId}, now() )
    </insert>
    <select id="findByUserId" parameterType="string" resultType="loginLog">
        select * from login_logs where user_id=#{userId} order by login_at desc
    </select>
    <select id="findLatestByUserId" parameterType="string" resultType="loginLog">
        select * from login_logs where user_id=#{userId} order by login_at desc limit 1
    </select>
</mapper>
