<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postReaction">
    <insert id="create" parameterType="postReaction">
        insert into post_reaction(group_id, post_id, feeling, writer_id) values( #{groupId}, #{postId}, #{feeling}, #{writerId} )
    </insert>
    <select id="findByPostId" parameterType="int" resultType="postReaction">
        select * from post_reaction where post_id=#{postId }
    </select>
    <select id="findByWriterIdAndPostId" parameterType="map" resultType="postReaction">
        select * from post_reaction where writer_id=#{writerId} and post_id=#{postId}
    </select>
    <delete id="deleteById" parameterType="int">
        delete from post_reaction where id=#{id}
    </delete>
    <select id="countFeelingByPostId" parameterType="int" resultType="feelingStats">
        select feeling, count(*) as count from post_reaction where post_id=#{postId} group by feeling
    </select>
</mapper>