<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studyGroup">
        <insert id="create" parameterType="studyGroup">
                insert into study_groups (id, name, type, goal, creator_id, created_at, member_count) values (#{id}, #{name}, #{type}, #{goal}, #{creatorId}, now(), 0) </insert>
        <update id="addMemberCountById" parameterType="string">
                update study_groups set member_count = member_count + 1 where id = #{id} </update>
        <update id="subtractMemberCountById" parameterType="string">
                update study_groups set member_count = member_count - 1 where id = #{id} </update>
        <select id="findByNameLikeOrGoalLike" parameterType="string" resultType="studyGroup">
                select * from study_groups where name like #{word} or goal like #{word} </select>
        <select id="findById" parameterType="string" resultType="studyGroup">
                select * from study_groups where id = #{id} </select>
        <delete id="deleteById" parameterType="string">
                delete from study_groups where id = #{id} </delete>
</mapper>